<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let item of fbitems | async ">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
          </ion-thumbnail>
          <h3>
            {{item?.FIRSTNAME }}  {{item?.LASTNAME}}
          </h3>
          <p> {{item?.OCCUPATION}}</p>
          <button ion-button clear item-end>View</button>
          <ion-badge color="primary" end> {{item?.AGE }} </ion-badge>
          <ion-buttons item-end>
              <button ion-button icon-only (click)="removeItem(item.key)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button ion-button icon-only (click)="updateItem(item.key)">
                <ion-icon name="refresh"></ion-icon>
              </button>
            </ion-buttons>
        </ion-item>
      </ion-item-sliding>
      </ion-list>



  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
